.title-slide {
  background-image: url(img/banner.jpg);
  background-size: cover;
}

.title-slide h1 {
  color: #f8f0e3;
}
.title-slide h2, .title-slide h3 {
  font-family: Georgia;
  color: #f8f0e3; 
  line-height: 0.5em;
}

.title-slide .remark-slide-number {
  display: none;
}

.title-slide h1 {
  font-family: Georgia;
  font-size: 4.0rem;
  text-shadow: none;
  color: #eaf1e7;
  margin-top: 180px;
}